html,body{
     height: 100%;
} 
 .mine{
     display: flex;
     height: 100%;
     justify-content: space-between;
     flex-flow: column wrap;
}
 .mine_header{
     display: flex;
     height:1.8rem;
     width: 90%;
     padding: 0 5%;
     margin: 0.4rem auto;
     margin-bottom:0;
     justify-content: space-between;
     border-bottom: 0.0133rem solid #ccc;
     span{
        display:inline-block;
        height:1.8rem;
        line-height: 1.8rem;
        font-size:0.4rem;
        color:#000;
        img{
            margin-top:0.667rem;
        }
     }
}
 .mine_nav{
     
     height: 5.973rem;
     li{
        &:nth-of-type(2){
            height:3.293rem;
            a{
                p{

                }
            }
        }
     }
}
 .mine_person{
     width: 100%;
     display: flex;
     height: 2.413rem;
     padding-top:0.667rem;
     padding-left:0.533rem;
     padding-right:0.7rem;
     justify-content: space-between;
     span{
        span{
        &:nth-of-type(3){
            margin-top:0.133rem;
        }

     }
     }
}
 .mine_order{
     width: 100%;
     display: flex;
     padding: 5%;
     height: 2.133rem;
     justify-content: space-between;
     span{
        display:inline-block;
        height:2.133rem;
     }
     img{
         margin: 0 auto;
         display:block;
         padding: 0.10rem 0;
    }
     height:1.06rem;
     color:#000;
}
.bb1{
    span{
        &:nth-of-type(1){width:2.667rem;}
        &:nth-of-type(3){margin-right:0 !important;}
    }
}
 .mine_style{
     width: 94%;
     display: flex;
     padding: 3%;
     height:1.16rem;
     margin:0 auto;
     justify-content: space-between;
     span{
        &:nth-of-type(3){
            margin-top:0.133rem;
            margin-right:0.1rem;
        }

     }
     .mine_center{
         width: 80%;
         text-align: left;
         color: #000;
    }
     .mineTop_center{
         width: 80%;
         text-align: right;
         color: #999;
    }
}
 .mine_ul{
     margin-top: 0.066rem;
}
 .mine_phone{
     float: left;
     color: #000;
     width: 70%;
     text-align: left;
     b{
         float:left;
         padding-top: 0.133rem;
    }
}
 .minetop_header{
     display: flex;
     height: 1.066rem;
     width: 90%;
     padding: 0 2%;
     margin: 0.4rem auto;
     justify-content: space-between;
     border-bottom: 0.013rem solid #ccc;
     span,i{
         font-size: 0.53rem;
    }
}
 .exitLogin{
     width: 88%;
     text-align: center;
     font-size: 0.4rem;
     color: red;
     border: 1px solid #999;
     border-radius: 0.186rem;
     margin: 3%;
     padding: 3%;
     font-size: 0.533rem;
}
 .mineorder_ul{
     height: 1.33rem;
     display: flex;
     justify-content: space-between;
     text-align: center;
     box-sizing: border-box;
     li{
         flex:1;
         height: 100%;
         font-size: 0.46rem;
         padding: 2% 0;
    }
     li.active{
         color: red;
         border-bottom: 0.04rem solid red;
         height: 100%;
    }
}
 #orderKinds{
     height: auto;
}
 .orderLi1{
     height: 0.933rem;
     display: flex;
     width: 94%;
     padding: 1% 3%;
     line-height: 0.933rem;
     border-bottom: 0.013rem solid #ccc;
     margin: 0 auto;
     span{
         font-size: 0.333rem;
    }
     justify-content: space-between;
     i{
         font-size: 0.4rem;
    }
}
 .orderLi2{
     margin: 0 auto;
     width: 96%;
     border-bottom: 0.013rem solid #ccc;
     display:flex;
     justify-content: space-between;
     img{
         height: 2.4rem;
         width: 22%;
    }
     .ordername{
         padding-right: 0.533rem;
         .ordername_name{
             display: inline-block;
             padding: 0.066rem;
        }
    }
     b{
         color: red;
         font-weight: normal;
         display: inline-block;
    }
     .colorsize{
         color: #999;
    }
}
 .orderLi3{
     margin: 0 auto;
     width: 96%;
     border-bottom: 0.0133rem solid #ccc;
     display:flex;
     justify-content: space-between;
     height: 1.333rem;
     .orderPrice{
         display:block;
    }
     div{
         width: 50%;
         vertical-align: middle;
         text-align: right;
    }
     button{
         height: 0.666rem;
         border: 1px solid #ccc;
         background-color: #fff;
         border-radius: 0.133rem;
         width:40%;
         margin-right: 0.133rem;
         margin-top: 0.33rem;
    }
}