*{
	margin:0;
	padding:0;
	font-size:0.373333rem;
}
i{
	list-style:normal !important;
}
html,body{
	width:100%;
	height:100%;
}


#Cartbox{
	width:100%;
	height:100%;
}


.shopName{
	display: block;
    width: 0.266667rem;
    height: 0.266667rem;
    background: #F74747;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

//圆形复选框
#shop_checkbox{
	display:inline-block;
	position:relative;
	border:2px solid #B5B5B5;
	width:0.403333rem;
	height:0.403333rem;
	border-radius:50%;
	margin-left:0.303333rem;
	z-index: 0;
	background-size:100% 100%; 
    background-repeat:no-repeat;


}

.check_select{
	width:40px;
	height:40px;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background:transparent;
	color:#fff;

}

.icon-dianpu{
	font-size:0.453333rem;
	margin-left:0.293333rem;
	margin-right:0.193333rem;
}


#car_title{
	// margin-top:1.333333rem;
	height:1.066667rem;
	line-height:1.066667rem;
	border-bottom:1px solid #ccc;
	span{
		display:inline-block;
		vertical-align: middle;
	}
}

#car_goods{
	height:2.72rem;
	border-bottom:1px solid #ccc;

	#goods_content{
		margin-top: 0.266667rem;
		>span{
			display:inline-block;
			vertical-align: middle;
		}
		img{
			display:inline-block;
			vertical-align: middle;
			width:2.186667rem;
			height:2.186667rem;
		}
		.check_select{
			width:40px;
			height:40px;
			position:absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
		}
		#good_name{
			display:inline-block;
			vertical-align: middle;
			height:2.186667rem;
			p{
				width:6.486667rem;
				
				padding:0 0.133333rem;
				color:#545454;
				margin-bottom:0.08rem !important;
				span{
					color:#666;
					i{
						font-style:normal;
						font-size: 0.366667rem;;
					}
				}
				span:nth-child(2){
					margin-left:0.2rem;
				}
				#dele_icon{
					font-size: 0.453333rem;
					float:right;
					margin-right: 0.293333rem;
				}
			}

			#add_del{
				color:#666;
				float:right;
				margin-bottom:0;
				button{
					vertical-align: middle;
					width:0.613333rem;
					height:0.533333rem;
					background:#fff;
					border:0 none;
					outline: none;
					border:1px solid #ccc;
					color:#666;
				}
				input{
					width:0.8rem;
					height:0.504rem;
					vertical-align: middle;
					border:0 none;
					outline:none;
					border:1px solid #ccc;
					text-align: center;
					color:#666;
				}

				#add_count{
					display:block;
					float:right;
					margin-right: 0.386667rem;
				}
			}
		}
	}
}


 h3{
 	margin-top:0.733333rem;
 	font-size:0.426667rem;
 	text-align: center;
 	color:#535456;
 }

.icon-fuxuankuang2{
	line-height:0;
	font-size: 0.466667rem;
 	color:#FD6164;
 	display:block;
 	position:absolute;
 	left:-3px;
 	top:15px;
 	z-index:-10000;
}
